*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.price{
 display: flex;
 gap: 1rem;
 margin: -13px 0px;
 font-size: 0.7rem;
 margin-bottom: 12px;

}
.item-name{
    font-size: 0.7rem !important;
    width: 60%;
}
.img-top{
    width: 50%;
}
.old_price{
    text-decoration: line-through;
    color:rgb(145, 143, 143) !important;
}
