.container{
    width: 100%;
    /* height: 100vh; */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
}
.new-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   margin-top: 22px;   
}
.new-collection h1{
    text-align: center;
    margin-top: 2rem;
    font-weight:700 ;
}
.new-collection hr{
    width: 10%;
    border-top: 3px solid;
    margin: 1rem auto;
}   
@media (max-width:830px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }

}
